.boutons_nav {
    flex-direction:flex;
    justify-content: flex-end;

    background-color: blue;

}

.exercices_choice{
    flex-direction:flex;
    justify-content: center;

    border-color: blue;
}

.afficher_exercice{
    flex-direction:flex;
    justify-content: center;

    border-color: blue;

}

