.boutons_nav {
    flex-direction:flex;
    justify-content: flex-end;

    border: 5px solid black;

}

.exercices_choice{
    flex-direction:flex;
    justify-content: center;

    border: 5px solid black;
}

.afficher_exercice{
    flex-direction:flex;
    justify-content: center;

    border: 5px solid black;

}

